@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Crete+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* --- SITE COLOURS ---*/

:root {
  /*colours*/
  --primary1: #f7ebd2d2;
  --primary2: #b9b6ae;
  --secondary1: #629048;
  --secondary2: #442424;
  --off-white: #fbf9f1;
  --box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

/* --- GENERAL ---*/

body {
  font-family: "ABeeZee", sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  color: var(--secondary2);
  letter-spacing: 1px;
  background-image: url(../img/zebra-bg.png);
  /*credit: image- https://www.publicdomainpictures.net/en/view-image.php?image=129300&picture=seamless-zebra-pattern */
  background-size: contain;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Crete Round", serif;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

h6 {
  font-family: "Crete Round", serif;
  text-align: center;
}

/* --- NAVIGATION --- */

.navbar-brand {
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.nav-link,
.dropdown-item {
  font-size: 1rem;
}

/* --- SECTIONS GLOBAL --- */

section {
  min-height: 100vh;
}

section h1 {
  padding-top: 100px;
}

/* --- ABOUT SECTION --- */

.row {
  --bs-gutter-x: none;
}

.about-col,
.country-col {
  padding: 10px;
}

.about-container,
.country-container {
  background-color: var(--primary1);
  padding: 16px;
  min-height: 70vh;
  border-radius: 10px;
}

iframe {
  display: block;
  width: 100%;
  padding: 5px;
}

.card {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: none;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

/* --- COUNTRY/RESERVE SECTION --- */

.hidden {
  display: none;
}

.btn-group {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.country-button {
  width: 35%;
  margin: 5px 20px;
  height: 30px;
}

.reserve-button {
  width: 25%;
  margin: 10px;
}

.reserve-section a {
  color: var(--secondary1);
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
}

.reserve-section a,
.reserve-section p {
  text-align: justify;
}

.country-content {
  height: 100%;
}

.map-row {
  display: flex;
  max-width: fit-content;
  justify-content: center;
  margin: auto;
}

/* --- MAIN COUNTRY/RESERVE MAP--- */

#map {
  height: 300px;
  box-shadow: var(--box-shadow);
  border: 2px solid tan;
}

/* --- CONTACT SECTION--- */

/* --- FOOTER --- */

footer {
  height: 50px;
  background-color: grey;
  /*placeholder colour - TO STYLE <===========================================*/
}

/* --- RESPONSIVE RULES --- */

@media only screen and (min-width: 768px) {
  .navbar-brand {
    font-size: 2rem;
    letter-spacing: 2px;
  }
}

@media only screen and (min-width: 768px) {
  #map {
    height: 400px;
  }
}

@media only screen and (min-width: 992px) {
  #map {
    height: 500px;
  }
}

@media only screen and (min-width: 1023px) {
  .country-button {
    width: 20%;
    margin: 5px 20px;
    height: 30px;
  }

  #map {
    height: 600px;
  }
}
