@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Crete+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- SITE COLOURS ---*/

:root {
  /*colours*/
  --primary1: #f7ebd2;
  --prim-opaque: #f7ebd2d2;
  --primary2: #b9b6ae;
  --secondary1: #629048;
  --secondary2: #442424;
  --off-white: #fbf9f1;
  --box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

/* --- GENERAL ---*/

body {
  font-family: "ABeeZee", sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  color: var(--secondary2);
  letter-spacing: 1px;
  background-image: url(../img/zebra-bg.png);
  /*CREDIT: Background Image
  https://www.publicdomainpictures.net/en/view-image.php?image=129300&picture=seamless-zebra-pattern */
  background-size: contain;
  max-width: 100vw;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Crete Round", serif;
  text-transform: uppercase;
  text-align: center;
}

h6 {
  font-family: "Crete Round", serif;
  text-align: center;
}

/* --- NAVIGATION --- */

.navbar-brand {
  font-size: 1.8rem;
  letter-spacing: 2px;
  color: var(--primary1)!important;
}

.active {
  color: var(--primary1)!important;
}

.nav-link,
.dropdown-item {
  font-size: 1rem;
}

/* --- SECTIONS GLOBAL --- */

section {
  min-height: 100vh;
  padding: 0px 5px;
}

.about-container,
.reserve-container,
.contact-container {
  background-color: var(--prim-opaque);
  padding: 16px;
  min-height: 70vh;
  border-radius: 8px;
}

.heading-container {
  padding: 100px 0 0 0;
}

.heading-container h1 {
  background-color: var(--prim-opaque);
  border-radius: 8px;
  padding: 9px;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

/* --- INTRO SECTION --- */

/* //CREDIT: 
Image slideshow inspiration from 
https://css-tricks.com/snippets/jquery/simple-auto-playing-slideshow/ */

.intro-gallery {
  position: relative;
  height: 100vh;
}

.img-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* --- ABOUT SECTION --- */

.row {
  --bs-gutter-x: none;
}

.jumbotron p {
  text-align: center;
}

.lead {
  font-size: 1rem;
}

/* to overwrite bootstrap setting for bold text */
b,
strong {
  font-weight: bold;
}

.btn-container {
  text-align: center;
  margin-bottom: 20px;
}

.api-button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: "Crete Round", serif;
  font-size: 0.7rem;
  color: var(--off-white);
  min-width: 120px;
  margin: 7px;
  padding: 0.25rem 1rem;
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  background-color: #7d5d3b;
  border-radius: 3px;
  border: 1px solid #54381e;
  box-shadow: var(--box-shadow);
}

.countryheading {
  margin-bottom: 30px;
}

.flag-container {
  display: flex;
  justify-content: center;
}

.flag-container img {
  object-fit: contain;
  width: 100%;
  padding: 5px;
  margin-bottom: 25px;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

.api-info p {
  text-align: left;
}

.country-row {
  margin-bottom: 50px;
}

/* --- RESERVE SECTION --- */

.hidden {
  display: none;
}

.country-section {
  width: 95%;
  margin: 12px auto;
}

/*--Buttons--*/

.dropdown-menu {
  position: absolute;
  transform: translate3d(5px, 29px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  background-color: var(--primary1);
  width: 95%; /*Change with .dropdown-main width for mobile*/
  padding: 0.5rem 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.reserve-menu {
  width: 100%;
}

.reserve-button {
  width: 200px;
}

.dropdown {
  text-align: center;
}

.dropdown-main span {
  font-size: 1.2rem;
}

.dropdown-item,
.dropdown-toggle {
  display: block;
  font-family: "Crete Round", serif;
  font-size: 0.9rem;
  color: var(--off-white);
  text-align: center;
  width: 95%;
  margin: 12px auto;
  padding: 0.25rem 1rem;
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  background-color: #7d5d3b;
  border-radius: 3px;
  border: 1px solid #54381e;
  box-shadow: var(--box-shadow);
}

.dropdown-main:hover {
  color: var(--off-white);
  background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  background-color: #634b30;
  outline: 5px auto orange;
}

.dropdown-main:focus {
  outline: 5px auto orange;
}

.dropdown-item:hover {
  color: yellow;
}

.dropdown-item {
  width: 250px;
}

.dropdown-reserve {
  width: 100%;
}

.maprow {
  width: 95%;
  margin: 30px auto;
}

.map-col {
  display: flex;
  justify-content: end;
}

/*--- Reserve Section ---*/
.reserve-section a {
  color: var(--secondary1);
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
}

.reserve-section a,
.reserve-section p {
  text-align: justify;
}

.country-content {
  height: 100%;
}

/* --- MAIN COUNTRY/RESERVE MAP--- */

.img-contain,
.cam-contain {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.align {
  width: auto;
  height: auto;
  max-width: inherit;
  border: 1px solid var(--secondary2);
  padding: 10px;
  margin: 5px 10px;
}

#map,
.reserve-placeholder img {
  height: 275px;
  width: 275px;
  margin: 25px auto;
  padding: 0;
  box-shadow: var(--box-shadow);
  border: 2px solid tan;
  z-index: 0;
}

.reserve-placeholder {
  text-align: center;
}

.maprow h5 {
  margin: 25px auto;
}

/* --- CONTACT SECTION--- */

#contactForm {
  width: 100%;
  margin: 35px auto;
}

.contact-container {
  background: var(--primary1) url(../img/contact.png) no-repeat 80% 75%;
  background-size: cover;
}

label,
.subscribe-text {
  margin: 10px 5px 5px;
}

.contact-privacy {
  margin: 5px 0 0;
}

.contact-privacy em {
  font-size: 80%;
  color: red;
}

.radio-btn input,
.radio-btn label {
  margin: 10px 0 0 0;
}

#submit-btn {
  margin-top: 15px;
  width: 100px;
}

/* CREDIT - (customised) Success modal popup - https://www.tutorialrepublic.com/codelab.php?topic=bootstrap-3&file=simple-success-confirmation-popup */
.modal-confirm {
  /* color: #636363; */
  width: 300px;
  margin: 30px auto;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
}
.modal-header {
  justify-content: center;
}

.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -15px;
}
.modal-confirm .form-control,
.modal-confirm .btn {
  min-height: 40px;
  border-radius: 3px;
}
.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -5px;
}
.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}
.modal-confirm .icon-box {
  color: var(--off-white);
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #82ce34;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
  font-size: 58px;
  position: relative;
  top: 3px;
  color: var(--off-white);
}
.modal-confirm.modal-dialog {
  margin-top: 80px;
}
.modal-confirm .btn {
  color: var(--off-white);
  border-radius: 4px;
  background: #82ce34;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}
.modal-confirm .btn:hover,
.modal-confirm .btn:focus {
  background: #6fb32b;
  outline: none;
}

.text-center {
  margin: 0;
}

.modal-content {
  background-color: var(--primary1);
}
/* END CREDIT */

/* --- FOOTER --- */

footer {
  height: 2.5rem;
  background-color: #343a40;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-top: 35px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

/*--- Copyright ---*/
.copyright {
  display: flex;
  align-items: center;
  width: 50%;
  margin: auto 8px;
  font-size: 0.8rem;
  color: var(--primary1);
}

.copyright i {
  margin-right: 5px;
  color: var(--primary1);
}

.copyright img {
  width: 25px;
  height: auto;
  vertical-align: text-bottom;
  margin-left: 5px;
  opacity: 0.7;
}

/*--- Social Media icons ---*/
.social {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 35vw;
  margin: auto 10px;
}

.social i {
  font-size: 1rem;
  margin: 5px;
  padding: 5px;
  color: var(--primary1);
}

/* --- RESPONSIVE RULES --- */

@media only screen and (min-width: 375px) {
  #map,
  .reserve-placeholder img {
    height: 300px;
    width: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .btn-container {
    margin-bottom: 45px;
  }
  .flag-container img {
    max-height: 265px;
    box-shadow: none;
    margin: 0;
  }

  .card-text {
    font-size: 0.9rem;
  }

  .api-info {
    padding: 5px 20px;
  }

  body {
    font-size: 1rem;
    letter-spacing: 2px;
  }
  .dropdown {
    margin: auto;
  }
  .api-button {
    font-size: 1rem;
    min-width: 150px;
  }
  .align {
    max-width: 95%;
  }
  #contactForm {
    width: 75%;
    margin: 50px auto;
  }
  .social i {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 992px) {
  #map,
  .reserve-placeholder img {
    height: 400px;
    width: 400px;
  }

  .img-contain img {
    margin-right: auto;
  }
  .cam-contain img {
    margin-left: auto;
  }
  .social i {
    font-size: 1.3rem;
  }
  .text-input {
    height: 30px;
  }
  .copyright {
    font-size: 1rem;
    margin-left: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  form {
    padding: 40px 120px;
  }
  footer {
    height: 2.8rem;
  }
}

@media only screen and (min-width: 1200px) {
  #map,
  .reserve-placeholder img {
    height: 450px;
    width: 450px;
  }
  .align {
    max-width: 100%;
  }
}
