@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Crete+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- SITE COLOURS ---*/

:root {
  /*colours*/
  --primary1: #f7ebd2;
  --prim-opaque: #f7ebd2d2;
  --primary2: #b9b6ae;
  --secondary1: #629048;
  --secondary2: #442424;
  --off-white: #fbf9f1;
  --box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

/* --- GENERAL ---*/

body {
  font-family: "ABeeZee", sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  color: var(--secondary2);
  letter-spacing: 1px;
  background-image: url(../img/zebra-bg.png);
  /*CREDIT: Background Image
  https://www.publicdomainpictures.net/en/view-image.php?image=129300&picture=seamless-zebra-pattern */
  background-size: contain;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Crete Round", serif;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

h6 {
  font-family: "Crete Round", serif;
  text-align: center;
}

/* --- NAVIGATION --- */

.navbar-brand {
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.nav-link,
.dropdown-item {
  font-size: 1rem;
}

/* --- SECTIONS GLOBAL --- */

section {
  min-height: 100vh;
}

.heading-container h1 {
  background-color: var(--prim-opaque);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

.heading-container {
  padding: 100px 0 0 0;
}
/* --- INTRO SECTION --- */

/* //CREDIT: 
Image slideshow inspiration from 
https://css-tricks.com/snippets/jquery/simple-auto-playing-slideshow/ */

.intro-gallery {
  position: relative;
  height: 100vh;
}

.img-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* --- ABOUT SECTION --- */

.row {
  --bs-gutter-x: none;
}

.about-container,
.country-container {
  background-color: var(--prim-opaque);
  padding: 16px;
  min-height: 70vh;
  border-radius: 8px;
}

.img-contain,
.cam-contain {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.align {
  width: 100%;
  height: 100%;
  border: 1px solid var(--secondary2);
  padding: 10px;
  margin: 5px 10px;
}

iframe {
  display: block;
  padding: 5px;
  height: 180px;
  width: auto;
}

.card {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: none;
  box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

.jumbotron p {
  text-align: center;
}

.card-body p {
  text-align: left;
}

/* to overwrite bootstrap setting for bold text */
b,
strong {
  font-weight: bold;
}

.btn-container {
  text-align: center;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: "Crete Round", serif;
  font-size: 0.9rem;
  color: #fff;
  min-width: 130px;
  margin: 10px 7px;
  padding: 0.25rem 1rem;
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  background-color: #7d5d3b;
  border-radius: 3px;
  border: 1px solid #54381e;
  box-shadow: var(--box-shadow);
}

/* --- COUNTRY/RESERVE SECTION --- */

.hidden {
  display: none;
}

.country-section {
  width: 95%;
  margin: 12px auto;
}

/*--Buttons--*/

.dropdown-menu {
  position: absolute;
  transform: translate3d(5px, 29px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  background-color: var(--primary1);
  width: 95%; /*Change with .dropdown-main width for mobile*/
  padding: 0.5rem 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.reserve-menu {
  width: 100%;
}

.dropdown {
  text-align: center;
}

.dropdown-main span {
  font-size: 1.2rem;
}

.dropdown-item,
.dropdown-toggle {
  display: block;
  font-family: "Crete Round", serif;
  font-size: 0.9rem;
  color: #fff;
  width: 95%;
  margin: 12px auto;
  padding: 0.25rem 1rem;
  box-shadow: inset 0px 1px 0px 0px #a6827e;
  background: linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  background-color: #7d5d3b;
  border-radius: 3px;
  border: 1px solid #54381e;
  box-shadow: var(--box-shadow);
}

.dropdown-country {
  text-align: center;
  margin: auto;
}

.dropdown-reserve {
  width: 100%;
}

.dropdown-main:hover {
  color: var(--off-white);
  background: linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  background-color: #634b30;
  outline: 5px auto orange;
}

.dropdown-main:focus {
  outline: 5px auto orange;
}

.dropdown-item:hover {
  color: yellow;
}

.maprow {
  width: 95%;
  margin: 0px auto;
}

/*--- Reserve Section ---*/
.reserve-section a {
  color: var(--secondary1);
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
}

.reserve-section a,
.reserve-section p {
  text-align: justify;
}

.country-content {
  height: 100%;
}

.reserve-section div {
  padding: 15px;
  align-self: center;
}

/* --- MAIN COUNTRY/RESERVE MAP--- */

#map {
  height: 300px;
  box-shadow: var(--box-shadow);
  border: 2px solid tan;
  z-index: 0;
}

/* --- CONTACT SECTION--- */

/* --- FOOTER --- */

footer {
  height: 50px;
  background-color: #343a40;
  /*placeholder colour - TO STYLE <===========================================*/
}

/* --- RESPONSIVE RULES --- */

@media only screen and (min-width: 375px) {
  iframe {
    height: 200px;
  }
}

@media only screen and (min-width: 768px) {
  #map {
    height: 400px;
  }
  iframe {
    height: 220px;
  }
  body {
    font-size: 1rem;
    letter-spacing: 2px;
  }
  .flag-container img {
    margin: 62px 0px;
  }
  .dropdown {
    width: 30%;
    margin: auto;
  }
}

@media only screen and (min-width: 992px) {
  #map {
    height: 500px;
  }
}

@media only screen and (min-width: 1023px) {
}
